rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == userId;

      match /records/{recordDate} {
        allow read, delete:
          if request.auth != null
          && request.auth.uid == userId;

        allow create, update:
          if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.date == recordDate
          && request.resource.data.schemaVersion is int;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
